.bg-header{
  background-color:#fffbf0;
}
.icon{
   height: 400px;
}
.png-footer{
    border: 0;
    background-color: white;
}
.png-main{
    background-color: white;
    
}
.png-card{
    border: 0;
}
.png h3{
    color: peru;
}
